body{
    background-color: lightgray;
}

#field{
    width: 90%;
    height: 800px;
    background-color: white;
    margin: 0 auto;
    border: 2px solid gray;
    overflow: hidden;
}

#ball{
    background-color: #FACC2E;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transform: translate3d(50px, 50px, 0);
}