body{
    font-family:sans-serif;
    margin:0;
    padding:0;
   
}
#logo h1{
    margin:0;
    float: left;
}

.header{
    width:100%;
    text-transform: uppercase;
    background-image: url("./images/banner3.jpg");
    background-size:cover;
    height:900px;
  
    
}
#logo{
    margin: 0px 0 0 5px;
    padding: 10px 0 0 10px;
    

}
.build{
    color:orange;
    border-top:3px  solid white;
    border-left:3px  solid white;
    border-bottom:3px  solid white;
    padding: 0px 0 0 5px;

   
}
.list{
    list-style-type: none;
    text-transform: uppercase;
    color:white;
    font-size:15px;
    float:right;
    height:200px;
   display:table;
}
.cf:before,.cf:after{
    content:"";
    display:table;
    
}

.cf:after{
    clear:both;

}

li{
    display: inline;
   margin-right: 10px;
    font-weight: bold;
}

.list ul {
    float: right;
}

#naslov2 h1{
    color: white;
    margin: auto;
    text-align: center;
    padding:450px 10% 0  ;
    font-size:60px;
}
#button{
    background-color:#499edf;
    border:0px;
    border-radius:20px;
    padding:10px 20px;
    width:140px;
    color: white;
    margin: auto;
    display: block;
    margin-top: 40px;
    font-size: 16px;
}

#naslov3{
    text-align: center;
    padding: 30px;
    
    
}
.kockica{
    width:10px;
    height:10px;
    border: 2px solid black;
    transform:rotate(45deg);
    margin-top:-5px;
}
.underline{
   width:30%;
   margin:auto;
   
}
.levo{
    border-bottom: 2px solid black;
    width:40%;
    margin-left: 50px;
   
}

.underline div{
   float:left;
}
.desno{
    border-bottom: 2px solid black;
    width:40%;
}

#mainContent{
    width: 70%;
    margin: auto;
   

}


#mainContent.cf:before,.cf:after{
    content:"";
    display:table;
    
}

#mainContent.cf:after{
    clear:both;

}



#mainContent div{
    width: 30%;
    display: inline;
    float: left;
    margin: auto;
    padding:0 20px;
}
.slicica{
    width:399px;
    margin-top:20px;
}

#main2 ,#main1{
    margin-right:5%;
}

#mainContent:nth-child(3){
    margin-right:0px;
}
h2{
    color:#2698de;
}
#podnaslov, #podnaslov2, #podnaslov3{
    color:black;

}
#naslov4, #naslov5{
    text-align: center;
    padding: 30px;
 
}

#podnaslov1{
    color:black;
}

.ljudi{
    width:90%;
    margin:auto;
    height:300px;
    
    
}

.part1:nth-child(3){
    margin-right: 0px;
}



.part1{
    background-color:#82c3f5;
    padding: 20px;
    width:30%;
   float: left;
   margin-right: 1%;

      
}


#t1{
    border-radius:50%;
    border:2px solid white;
    padding:1px;
    float:left;
    height:100px;
   
}

.cf:before, .cf:after{
    content:"";
    display:table;
    
}

.cf:after{
    clear:both;

}


span .fa fa-star {
    color:white;
    size:12px;
    
}

.sporedno{
    margin:auto;
    text-align: center;
    padding-right: 100px;
    color:white;
}

.boxText{
    margin-top: 50px;
    color: white;
}
.sporedno h6{
    color:#000;
    font-size:18px;
    margin-bottom:5px;
}

.boje{
    width:100%;
    display:inline;
    float:left;

    
  
}
.zelena{
    background-color:#55ce59;
    text-align:center;
    width:25%;
    float:left;
    height:260px;
    
}
.pink{
    background-color:#c15378;
    text-align:center;
    width:25%;
    float:left;
    height:260px;
   
   
}
.plava{
    background-color:#2196f3;
    text-align:center;
    width:25%;
    float:left;
    height:260px;
    
    
}
.kuca{
    background-color:#82c3f5;
    text-align:center;
    width:25%;
    float:left;
    height:260px;
    
}
.boje h3{
    margin-top:50px;
}

.fa-mobile {
    font-size:30px;
    margin-top:7px;
}
.fa-envelope{
    font-size:20px;
    margin-right:10px;
}
.pink i{
 margin-right:10px;
 margin-left:10px;

}
.boje{
    color:white;
}

.mapa{
    width:100%;
}
#naslov6{
    text-align: center;
    padding: 30px;
   
}
.cf7{
    width:70%;
    margin:auto;
}

.cf7 input{
    width: 32%;
    margin-right:2%;
    height: 50px;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    display: block;
    float: left;
}

#phone{
    margin: 0px;
}

.cf7 textarea{
    width: 100%;
    border: 1px solid black;
    height: 200px;
    padding: 5px;
    margin-top: 30px;
     margin-top: 30px;
    box-sizing: border-box;
}

.cf7 button{
    background-color: orange;
    border: none;
    padding:10px 30px 10px 30px;
    color: white;
    margin-top: 30px;
}

#footer{
    background-color: black;
    height: 100%;
    color: white;
    padding-top:100px;
    
   
}

.zajedno{
    margin:auto;
    width: 70%;
    text-align:center;
   
}
#footer p{
    padding: 0  0 100px 0;
}